/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #23262e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  animation: rotate 1.0s infinite linear;
}
/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

